
input {
    border-radius: 8px;
    border: 1px solid grey;
}
a {
    text-decoration: none;
}
.list {
    padding: 10px;
    background-color: lightgray;
    border-radius: 12px
}
.items {
    padding: 5px 0;
}
form {
    margin: auto;
    border-radius: 12px
}